[Service]
WorkingDirectory=/opt/station-announcer
ExecStart=/usr/bin/node --max-old-space-size=100 ./node_modules/.bin/noflo-runtime-msgflo --broker=mqtt://10.0.1.17 --name station-announcer --cache=true --basedir /opt/station-announcer --graph station-announcer/StationAnnouncer 
Restart=always
User=bergie

[Unit]
After=network-online.target

[Install]
WantedBy=multi-user.target
