[Service]
WorkingDirectory=/opt/station-announcer
ExecStart=/usr/bin/npm start
Environment=MSGFLO_BROKER=mqtt://10.0.1.17
Restart=always
User=bergie

[Unit]
After=network-online.target

[Install]
WantedBy=multi-user.target
